<div class="jumbotron">
  <h1>Olson-Phillips Inc, LLC, Incorporated, (c)</h1>
</div>

<p class="lead">Enter your package dimensions, weight, and gift-wrapping preferences below:</p>

<form action="/result">
  <div class="form-group">
    <label target="length">Length:</label>
    <input id="length" name="length" class="form-control" type="number">

    <label target="width">Width:</label>
    <input id="width" name="width" class="form-control" type="number">

    <label target="height">Height:</label>
    <input id="height" name="height" class="form-control" type="number">

    <label target="weight">Weight:</label>
    <input id="weight" name="weight" class="form-control" type="number">

    <label target="distance">Distance:</label>
    <input id="distance" name="distance" class="form-control" type="number">

    <label target="gift-wrapping">Check for gift wrapping</label>
    <input id="gift-wrapping" name="gift-wrapping" type="checkbox">
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block">Ship!</button>
</form>
